/* nav und section in Bloecke aufteilen */
nav, section {
    display: block;
}

#biberLeft, #biberRight {
    background-color: #cfc194;
}

/* Hintergrundfarbe section setzen */
#biberCenter {
    background-color:#bcac7b;
}

.biberContainer {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 900px;
    grid-gap: 10px 10px; /* Zeilenabstand Spaltenabstand */
}

.leftContainer {
    display: grid;
    grid-template-columns: 80% ;
    grid-template-rows: 100px 100px 100px 100px;
    align-items: center;
    justify-content:center;
    grid-gap: 20px;
    
}

.biberCenterContainer {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 250px 250px 250px 100px;
    align-items: center;
    justify-content:center;
    gap: 5px;


}

.rightContainer {
    display: grid;
    grid-template-columns: 80% ;
    grid-template-rows: 100px 100px 100px 100px 100px;
    align-items: center;
    justify-content:center;
    grid-gap: 20px;
}

.border-box {
  width: 120px;
  height: 180px;
  padding: 20px;
  border: 3px solid black;
  background: grey;
}




