nav, section {
    display: block;
}


#biberLeft, #biberRight {
    background-color: #cfc194;
}

/* Hintergrundfarbe section setzen */
#biberCenter {
    background-color:#bcac7b;
}

dialog {
  /* background-color: var(--bg); */
  color: var(--text-color);
  text-align: center;
  padding: 2rem;
  background: white;
  border: 3px solid black;
  border-radius: 6px;
  box-shadow: 0 0 40px rgba(0,0,0,0.1), 0 0 10px rgba(0,0,0,0.25);
  max-width: 75vw;
  margin-top: 200px;
}

dialog::backdrop {
  /*background: repeating-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 1px,
    rgba(0, 0, 0, 0.3) 1px,
    rgba(0, 0, 0, 0.3) 20px
  );*/
  backdrop-filter: blur(7px);
}

.headline {
    font-family: Times New Roman, times-roman, georgia, serif;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -1px;color: #444;
}

.textblock {
	font-family: Times New Roman, times-roman, georgia, serif;
	font-size: 14px;
	line-height: 20px;
    font-weight: normal;
	color: #444;
    text-align: justify	
}

.textblockaction {
	font-family: Times New Roman, times-roman, georgia, serif;
	font-size: 14px;
	line-height: 20px;
    font-weight: bold;
	color: #444;
    text-align: justify	
}


.biberContainer {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 900px;
    grid-gap: 5px 5px; /* Zeilenabstand Spaltenabstand */	
	grid-auto-flow: column;
}

.leftContainer {
    display: grid;
    grid-template-columns: 80% ;
    grid-template-rows: 200px 50px 50px 50px;
    align-items: center;
    justify-content:center;
    grid-gap: 10px;
    
}

.biberCenterContainer {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 200px 200px 200px 100px;
    justify-items: center;
    align-items: center;
    gap: 5px;


}

.rightContainer {
    display: grid;
    grid-template-columns: 80% ;
    grid-template-rows: 200px 50px 50px 50px;
    justify-content:center;
    align-items: center;
    grid-gap: 20px;
}

.border-box {
  width: 80px;
  height: 120px;
  padding: 20px;
  border: 3px solid black;
  background: grey;
  display: flex;
  justify-content:center;
  align-items: center;

}

.border-box-points {
  width: 50px;
  height: 5px;
  padding: 10px;
  border: 3px solid black;
  background: grey;
  display: flex;  
  justify-content:center;
  align-items: center;
  
}

.border-result-box {
   grid-column: 2/4; /** von Linie 1 bis Linie 4 **/
   /** border: 2px solid black; **/   
   display: flex;  
   justify-content:center;
   align-items: center;
}





